<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gray_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,113}</string>
                <key>spriteSourceSize</key>
                <string>{298,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,113}</string>
                <key>spriteSourceSize</key>
                <string>{298,113}</string>
                <key>textureRect</key>
                <string>{{301,1},{298,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{809,82},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{886,66},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{926,66},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{847,82},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{964,66},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{1002,66},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,2}</string>
                <key>spriteSourceSize</key>
                <string>{13,2}</string>
                <key>textureRect</key>
                <string>{{601,112},{13,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,79}</string>
                <key>spriteSourceSize</key>
                <string>{75,79}</string>
                <key>textureRect</key>
                <string>{{809,1},{75,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_disk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,109}</string>
                <key>spriteSourceSize</key>
                <string>{206,109}</string>
                <key>textureRect</key>
                <string>{{601,1},{206,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_status_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,63}</string>
                <key>spriteSourceSize</key>
                <string>{226,63}</string>
                <key>textureRect</key>
                <string>{{886,1},{226,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_view.png</string>
            <key>size</key>
            <string>{1113,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3918d4fdce12bea836eef208f1d90486:4aa32ee2c2f70be0670428f650d412f6:62e2bad4c456736db983b1be507b3ac9$</string>
            <key>textureFileName</key>
            <string>main_view.png</string>
        </dict>
    </dict>
</plist>
